body{
	/*background-color: #AFD9EE;*/
	background: url(../img/back.jpg);
}
#formopacity{
	
	background-color: rgba(255,255,255,0.6);
}
#formopacity:hover{
	background-color: rgba(255,255,255,1);
}
#fromtop{
	margin-top:11%;
}
.paddingbox{
	padding: 35%;
	font-size: 1.8rem;
}
#fromhead{
	margin-top: 5%;
}
#frompaw{
	margin-top: 10%;
}
